<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="normalstart" value="01:00:00"/>
    <add key="normalstop" value="01:00:00"/>
    <add key="laterearly" value="01:00:00"/>
  </appSettings>
  <connectionStrings>
    <add name="KDB.Properties.Settings.KQConnectionString" connectionString="Data Source=.;Initial Catalog=fngrdb2012;User ID=sa;Password=sa"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>