<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KDB.Properties.Settings.KQConnectionString" connectionString="Data Source=.;Initial Catalog=KQ;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="KDB.Properties.Settings.KQConnectionString1" connectionString="Data Source=.;Initial Catalog=KQ;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>