<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Set the level for tracing NUnit itself -->
  <!-- 0=Off 1=Error 2=Warning 3=Info 4=Debug -->
  <system.diagnostics>
    <switches>
      <add name="NTrace" value="1" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="text" value="丰南数据查询"/>
  </appSettings>
</configuration>