<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="fnbx.Properties.Settings.fnbaoxiuConnectionString"
            connectionString="Data Source=.;Initial Catalog=fnbaoxiu;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="fnbx.Properties.Settings.pubsConnectionString" connectionString="Data Source=.;Initial Catalog=pubs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>